html, body {
    height: 150%;
    padding: 0;
    font: 12pt sans-serif;
    margin: auto;
    color: white;
    max-width: 100%;
}


.smallImg {
    width: 700;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.unfocused {
    opacity: 1;
    background-color: #333;
    color: white;
}

.hide {
    opacity: 0.0;
}

.focused {
    background-color: #bbb;
    color: black;
    opacity: 1;
}

.introtext {
    font-size: 40pt;
    padding-left: 20%;
}
li.tab:hover {
    background-color: #111;
    cursor: pointer; 
}


h2, h4, p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    
}

h2, h4 {
    padding: 10px 15px 15px 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    clear: left;
}

p{
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
li{
    line-height: 1.5;
}

fieldset{
    width: 80%;
    margin: auto;
}

.secrettext {
    background-color: black;
    color: black;
    margin : 15px;
}

.secrettext:hover {
    color: white;
    margin : 15px;
}

/* relevant styles */
.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.column {
    float: left;
    width: 25%;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
#update {
    list-style: square;
}
.float {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}
.answer {
    color: blue;
}
.suggestion {
    color: red;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    list-style-type: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.accorcontent {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #333;
}

#navidiv {
    float: right;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#logo {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: white;
}
#logoimg {
    width: 100%;
    height: 100%;
}


#introtext {
    float: left;
    font-size: 20pt;
    width: 40%;
}

#introimg {
    float: left;
    width: 50%;
    height: 100%;
    position: fixed;
    left: 40%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
}
.card {
    display: inline-block;
}

.overviewdiv {
    float: left;
    width: 90%;
    min-height: 100px;
    margin: 5%;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.overviewimg {
    width: 100%;
}
.tab{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    background-color: #333;
    width: 20%;
}

.headerspace {
    height: 5%;
    width: 100%;
}
.bodyspace {
    width: 100%;
    height: 95%;
    font-size: 16pt;
}

.tabcontent {
    background-color: #111;
    padding: 15px 50px 15px;
    height: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-image: url("media/bg_default.png");
}


.team{
    margin-bottom: 5px;
}

.teamName{
    font-weight: bold;
}

#menu{
    position: fixed;
    float:left;
    width: 200px;
    margin-top: 20px;
}

#content{
    margin-left: 190px;
    float:left;
    width: 640px;
}

#artifact{
    padding-left: 10px;
}
.selected {
    display: block;
}

.unselected {
    display: none;
}

#conclusion > h5{
    font-size: 12.5pt;
    margin-bottom: 5px;
}

#conclusion > h4{
    font-size: 13.5pt;
}

/* Intro Text Animation */
.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.container span{
    display: block;
}
.text1{
    color: white;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 8px;
    position: relative;
    animation: text 3s 1;
    z-index: 100;
}
.text2{
    font-size: 90px;
    color: #333;
    font-weight: 500;
    position: relative;
    height: 120px;
    animation: popsup 3s 1;
}
@keyframes popsup {
    0% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes text{
    0%{
        color: #111;
        margin-bottom: -120px;
    }
    30%{
        letter-spacing: 45px;
        margin-bottom: -120px;
        }
    85%{
        letter-spacing: 8px;
        margin-bottom: -120px;
    }
}

#namecontainer {
    width: 375px;
    height: 100%;
    position: relative;
    margin: auto;
}
#nameimg {
    padding-top: 20px;
    padding-left: 15px;
    float: left;
    width: 90px;
}
.floater {
    float: left;
    display: inline-block
}

.selfintro {
    padding-top: 75%;
    font-size: 50pt;
    text-align: center;
}

#whoami {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#thanksletter {
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    height: 20%;
    text-align: center;
}