<!-- Footer Section -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="single-footer-widget">
                    <h6>About Me</h6>
                    <!--<h6>Contact Me (web module not ready yet)</h6> -->
                    <p class="footer-text">Copyright © <script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="single-footer-widget">
                    <h6>Follow Me</h6>
                    <div class="footer-social">
                        <!--<a href="https://twitter.com/yourusername" target="_blank"><i class="fab fa-twitter"></i></a>-->
                        <a href="https://www.linkedin.com/in/yang-hu-510373198" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/cottagelord" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>